## Wearable Tech: Week 5 Assignment

### Step 1

In [3]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sn
import matplotlib.dates as mdates
import datetime
import plotly.graph_objects as go

import scipy.stats as stats

df = pd.read_csv("../Data/FH.csv")

In [4]:
df.head()

,Unnamed: 0,Timestamp,Seconds,Velocity,Acceleration,Odometer,Latitude,Longitude,Heart Rate,Player Load,AthleteID
0,0,9/30/2018 12:21:49 PM,0.0,0.06,-0.041234,0.0,42.263222,-83.741055,122,0.0,Athlete 1
1,1,9/30/2018 12:21:49 PM,0.1,0.06,-0.025926,0.0,42.263223,-83.741055,122,0.0,Athlete 1
2,2,9/30/2018 12:21:49 PM,0.2,0.06,-0.011945,0.0,42.263223,-83.741055,122,0.0,Athlete 1
3,3,9/30/2018 12:21:49 PM,0.3,0.09,0.048539,0.0,42.263223,-83.741055,122,0.0,Athlete 1
4,4,9/30/2018 12:21:49 PM,0.4,0.08,0.021406,0.0,42.263223,-83.741055,122,0.0,Athlete 1

In [5]:
df.shape

(5224154, 11)

In [6]:
df['Seconds'].min(), df['Seconds'].max()

(0.0, 8759.98)

In [7]:
df['AthleteID'].nunique()

22

### Step 2

In [8]:
# Create a copy  of the dataframe and clean up the columns by just focusing on the ones you need.
# Consider making a multi-index with both the timeindex and the AthleteID.
columns_to_keep = ['Timestamp', 'Seconds', 'Velocity', 'Acceleration', 'Heart Rate', 'AthleteID']
df = df[columns_to_keep]

# Set the multi-index with Timestamp and AthleteID
df.set_index(['Timestamp', 'AthleteID'], inplace=True)

### Step 3

In [9]:
# Make your new variables for the performance metric -- specifically the 20 second farthest distance traveled
# and the 60 second farthest distance traveled

first_20s_data = df[df['Seconds'] <= 20]

first_20s_data['Distance_20s'] = first_20s_data['Velocity'] * first_20s_data['Seconds']

farthest_distance_20s = first_20s_data.groupby(level='AthleteID')['Distance_20s'].max()

first_60s_data = df[df['Seconds'] <= 60]

first_60s_data['Distance_60s'] = first_60s_data['Velocity'] * first_60s_data['Seconds']

farthest_distance_60s = first_60s_data.groupby(level='AthleteID')['Distance_60s'].max()

print("Farthest distance traveled in 20 seconds:")
print(farthest_distance_20s)
print("\nFarthest distance traveled in 60 seconds:")
print(farthest_distance_60s)

Farthest distance traveled in 20 seconds:
AthleteID
Athlete 1     65.9438
Athlete 10     0.2820
Athlete 11    49.1960
Athlete 12     6.9620
Athlete 13    45.4740
Athlete 14    47.7904
Athlete 15    51.0000
Athlete 17    61.6920
Athlete 18    63.2400
Athlete 19     1.0850
Athlete 2     16.8000
Athlete 20    65.2736
Athlete 21    68.7644
Athlete 22    13.9300
Athlete 23    66.6420
Athlete 24     1.2110
Athlete 3     18.8665
Athlete 4     38.4472
Athlete 5     83.2553
Athlete 6     67.5956
Athlete 7     47.7520
Athlete 9     56.9400
Name: Distance_20s, dtype: float64

Farthest distance traveled in 60 seconds:
AthleteID
Athlete 1     229.4370
Athlete 10    163.0557
Athlete 11    164.1855
Athlete 12    187.2714
Athlete 13    152.0119
Athlete 14    144.8832
Athlete 15    174.9300
Athlete 17    188.8110
Athlete 18    166.8744
Athlete 19    187.0290
Athlete 2     129.3960
Athlete 20    183.4200
Athlete 21    175.5070
Athlete 22    207.5755
Athlete 23    195.4335
Athlete 24     84.1770
Athlete 3      41.4000
Athlete 4     141.7926
Athlete 5     159.8856
Athlete 6     154.9982
Athlete 7     158.7600
Athlete 9     167.0420
Name: Distance_60s, dtype: float64

### Step 4

In [10]:
# Run a groupby with agg to collect your max values for acceleration and your new variables.
agg_dict = {
    'Acceleration': 'max', 
    'Velocity': 'max',     
    'Heart Rate': 'max'     
}

grouped_max_values = df.groupby(level='AthleteID').agg(agg_dict)

grouped_max_values

            Acceleration  Velocity  Heart Rate
AthleteID
Athlete 1       5.981192      7.24         215
Athlete 10      5.580821      6.79         206
Athlete 11      3.825559      6.56         162
Athlete 12      4.360430      7.38         203
Athlete 13      7.034368      6.33         216
Athlete 14      4.908402      6.58         225
Athlete 15     11.318196      6.61         208
Athlete 17      5.889059      7.71         165
Athlete 18      5.557953      6.63         229
Athlete 19      4.089531      6.85         217
Athlete 2       3.819985      4.69         129
Athlete 20      5.553606      7.32         176
Athlete 21      5.394188      6.31         165
Athlete 22      3.201309      3.94         141
Athlete 23      6.044008      7.17         193
Athlete 24      3.911020      7.31         225
Athlete 3       4.420637      6.52         210
Athlete 4       7.695746      6.93         160
Athlete 5       3.994656      6.33         176
Athlete 6       8.633133      7.15         211
Athlete 7       5.789903      7.53         193
Athlete 9       3.932414      7.01         205

### Step 5

In [11]:
MaxValues_df=df.groupby('AthleteID').agg([max])
print(MaxValues_df)

            Seconds Velocity Acceleration Heart Rate
                max      max          max        max
AthleteID
Athlete 1   8759.98     7.24     5.981192        215
Athlete 10  8749.93     6.79     5.580821        206
Athlete 11  8749.93     6.56     3.825559        162
Athlete 12  8749.91     7.38     4.360430        203
Athlete 13  8749.93     6.33     7.034368        216
Athlete 14  7855.38     6.58     4.908402        225
Athlete 15  8749.93     6.61    11.318196        208
Athlete 17  8749.93     7.71     5.889059        165
Athlete 18  8759.92     6.63     5.557953        229
Athlete 19  8749.92     6.85     4.089531        217
Athlete 2   8749.93     4.69     3.819985        129
Athlete 20  8749.93     7.32     5.553606        176
Athlete 21  8749.93     6.31     5.394188        165
Athlete 22  8749.93     3.94     3.201309        141
Athlete 23  8749.92     7.17     6.044008        193
Athlete 24  8749.93     7.31     3.911020        225
Athlete 3   8749.97     6.52     4.420637        210
Athlete 4   8749.92     6.93     7.695746        160
Athlete 5   8749.92     6.33     3.994656        176
Athlete 6   8750.04     7.15     8.633133        211
Athlete 7   8749.93     7.53     5.789903        193
Athlete 9   8749.92     7.01     3.932414        205

In [21]:
MaxValues_df['zscores_vel'] = stats.zscore(MaxValues_df['Velocity'])
MaxValues_df['zscores_Acc'] = stats.zscore(MaxValues_df['Acceleration'])
MaxValues_df['zscores_HR'] = stats.zscore(MaxValues_df['Heart Rate'])
MaxValues_df

,Seconds,Velocity,Acceleration,Heart Rate,zscores_vel,zscores_Acc,zscores_HR,performance_score
,max,max,max,max,,,,
AthleteID,,,,,,,,
Athlete 1,8759.98,7.24,5.981192,215,0.660933,0.262904,0.813569,301.737406
Athlete 10,8749.93,6.79,5.580821,206,0.132827,0.045469,0.491395,300.669692
Athlete 11,8749.93,6.56,3.825559,162,-0.137094,-0.907783,-1.083673,297.871449
Athlete 12,8749.91,7.38,4.360430,203,0.825233,-0.617304,0.384004,300.591933
Athlete 13,8749.93,6.33,7.034368,216,-0.407015,0.834866,0.849366,301.277216
Athlete 14,7855.38,6.58,4.908402,225,-0.113623,-0.319710,1.171539,300.738206
Athlete 15,8749.93,6.61,11.318196,208,-0.078416,3.161340,0.562990,303.645914
Athlete 17,8749.93,7.71,5.889059,165,1.212511,0.212868,-0.976282,300.449097
Athlete 18,8759.92,6.63,5.557953,229,-0.054944,0.033051,1.314727,301.292833
Athlete 19,8749.92,6.85,4.089531,217,0.203241,-0.764424,0.885163,300.323979
Athlete 2,8749.93,4.69,3.819985,129,-2.331670,-0.910811,-2.264975,294.492545
Athlete 20,8749.93,7.32,5.553606,176,0.754819,0.030689,-0.582515,300.202993
Athlete 21,8749.93,6.31,5.394188,165,-0.430487,-0.055888,-0.976282,298.537343
Athlete 22,8749.93,3.94,3.201309,141,-3.211847,-1.246803,-1.835411,293.705939
Athlete 23,8749.92,7.17,6.044008,193,0.578783,0.297019,0.026034,300.901836
Athlete 24,8749.93,7.31,3.911020,225,0.743083,-0.861371,1.171539,301.053251
Athlete 3,8749.97,6.52,4.420637,210,-0.184037,-0.584607,0.634584,299.865940
Athlete 4,8749.92,6.93,7.695746,160,0.297127,1.194049,-1.155268,300.335908
Athlete 5,8749.92,6.33,3.994656,176,-0.407015,-0.815949,-0.582515,298.194520
Athlete 6,8750.04,7.15,8.633133,211,0.555312,1.703128,0.670381,302.928820
Athlete 7,8749.93,7.53,5.789903,193,1.001268,0.159018,0.026034,301.186321
Athlete 9,8749.92,7.01,3.932414,205,0.391012,-0.849752,0.455598,299.996859

### Step 6

In [15]:
constant = 100  # Change this to your desired constant
MaxValues_df['zscores_vel'] += constant
MaxValues_df['zscores_Acc'] += constant
MaxValues_df['zscores_HR'] += constant

# Sum the z-scores to determine performance scores
MaxValues_df['performance_score'] = MaxValues_df['zscores_vel'] + MaxValues_df['zscores_Acc'] + MaxValues_df['zscores_HR']

MaxValues_df

,Seconds,Velocity,Acceleration,Heart Rate,zscores_vel,zscores_Acc,zscores_HR,performance_score
,max,max,max,max,,,,
AthleteID,,,,,,,,
Athlete 1,8759.98,7.24,5.981192,215,100.660933,100.262904,100.813569,301.737406
Athlete 10,8749.93,6.79,5.580821,206,100.132827,100.045469,100.491395,300.669692
Athlete 11,8749.93,6.56,3.825559,162,99.862906,99.092217,98.916327,297.871449
Athlete 12,8749.91,7.38,4.360430,203,100.825233,99.382696,100.384004,300.591933
Athlete 13,8749.93,6.33,7.034368,216,99.592985,100.834866,100.849366,301.277216
Athlete 14,7855.38,6.58,4.908402,225,99.886377,99.680290,101.171539,300.738206
Athlete 15,8749.93,6.61,11.318196,208,99.921584,103.161340,100.562990,303.645914
Athlete 17,8749.93,7.71,5.889059,165,101.212511,100.212868,99.023718,300.449097
Athlete 18,8759.92,6.63,5.557953,229,99.945056,100.033051,101.314727,301.292833
Athlete 19,8749.92,6.85,4.089531,217,100.203241,99.235576,100.885163,300.323979
Athlete 2,8749.93,4.69,3.819985,129,97.668330,99.089189,97.735025,294.492545
Athlete 20,8749.93,7.32,5.553606,176,100.754819,100.030689,99.417485,300.202993
Athlete 21,8749.93,6.31,5.394188,165,99.569513,99.944112,99.023718,298.537343
Athlete 22,8749.93,3.94,3.201309,141,96.788153,98.753197,98.164589,293.705939
Athlete 23,8749.92,7.17,6.044008,193,100.578783,100.297019,100.026034,300.901836
Athlete 24,8749.93,7.31,3.911020,225,100.743083,99.138629,101.171539,301.053251
Athlete 3,8749.97,6.52,4.420637,210,99.815963,99.415393,100.634584,299.865940
Athlete 4,8749.92,6.93,7.695746,160,100.297127,101.194049,98.844732,300.335908
Athlete 5,8749.92,6.33,3.994656,176,99.592985,99.184051,99.417485,298.194520
Athlete 6,8750.04,7.15,8.633133,211,100.555312,101.703128,100.670381,302.928820
Athlete 7,8749.93,7.53,5.789903,193,101.001268,100.159018,100.026034,301.186321
Athlete 9,8749.92,7.01,3.932414,205,100.391012,99.150248,100.455598,299.996859

### Step 7

In [17]:
# Sort the DataFrame by 'performance_score' column in descending order
MaxValues_df_sorted = MaxValues_df.sort_values(by='performance_score', ascending=False)

# Get the top 2 athletes
top_2_athletes = MaxValues_df_sorted.head(2)

top_2_athletes

,Seconds,Velocity,Acceleration,Heart Rate,zscores_vel,zscores_Acc,zscores_HR,performance_score
,max,max,max,max,,,,
AthleteID,,,,,,,,
Athlete 15,8749.93,6.61,11.318196,208,99.921584,103.161340,100.562990,303.645914
Athlete 6,8750.04,7.15,8.633133,211,100.555312,101.703128,100.670381,302.928820